body {
     margin: auto;
     text-align: center;
     width: 500px;
}

dl {
    
}

dd {
     margin: 0pt;
     padding: 1em 0pt;
}

dt {
     background: none repeat scroll 0% 0% #E3E3E3;
     cursor: pointer;
     font-size: 1.5em;
     font-weight: bold;
     line-height: 2em;
	 border-bottom:1px solid #C5C5C5;	
	 border-top:1px solid white;
}

